:root {
    --calendar-background: #B4D4FF;

    --calendar-primary: #86B6F6;
    --calendar-primary-light: #86B6F6;
    --calendar-primary-dark: #3572EF;

    --calendar-event-primary: #6495ed;
    --calendar-text-primary: #000000;
}

.calendar {
    display: block;
    background-color: var(--calendar-background);
    font-family: monospace;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px 16px;
    margin-bottom: 12px;
    background-color: var(--calendar-primary);
    height: 8%;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.calendar__header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
}

.calendar__header button img {
    width: 100%;
    height: 100%;
}

.calendar__prev {
    margin: 8px 0 8px 8px;
}

.calendar__prev:hover {
    margin: 8px 4px 8px 4px;
    transition: margin 0.2s;
}

.calendar__next {
    margin: 8px 8px 8px 0;
}

.calendar__next:hover {
    margin: 8px 4px 8px 4px;
    transition: margin 0.2s;
}

.calendar__month {
    font-size: 40px;
    font-weight: bold;
    height: 100%;
}

.calendar__year {
    font-size: 16px;
}

.calendar__year:before {
    content: '  ';
}

.calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 24px;
    grid-auto-rows: 1fr;
    height: 90%;
}

.calendar__day_of_week {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
    height: auto;
}

.calendar__date_header {
    font-size: 1rem;
    font-weight: bold;
}

.calendar__day_empty {
    background-color: var(--calendar-primary-light);
    border-radius: 4px;
    margin: 4px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.calendar__day {
    background-color: var(--calendar-primary);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 4px;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.calendar__day:hover {
    margin: 0;
    padding: 4px;
    transition: margin 0.1s, padding 0.1s;
}

.calendar__body h2 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 4px 4px 0 4px;
}

.calendar__current_date {
    background-color: var(--calendar-primary-dark);
}

.calendar__event {
    display: flex;
    background-color: var(--calendar-event-primary);
    border-radius: 4px;
    margin: 4px;
    padding: 2px 4px;
    font-weight: bold;
    min-height: 4px;
    overflow: hidden;
}